$xs-min-width: 0px;
$xs-max-width: 320px;
$sm-min-width: 320.01px;
$sm-max-width: 425px;
$md-min-width: 425.01px;
$md-max-width: 768px;
$lg-min-width: 768.01px;
$lg-max-width: 1024px;
$xl-min-width: 1024.01px;
$xl-max-width: 1440px;
$xxl-min-width: 1440.01px;
