$xs-min-width: 0px;
$xs-max-width: 321px;
$sm-min-width: 321.01px;
$sm-max-width: 426px;
$md-min-width: 426.01px;
$md-max-width: 769px;
$lg-min-width: 769.01px;
$lg-max-width: 1025px;
$xl-min-width: 1025.01px;
$xl-max-width: 1441px;
$xxl-min-width: 1441.01px;
