@import "../../util/variables";

@media (min-width: $xs-min-width) and (max-width: $xs-max-width) {
    .about-container {
        position: absolute;
        top: 8%;
        left: 1%;
        right: 1%;
    }

    .about-text-container {
        display: flex;
        flex-direction: column;
        padding: 25px;
        color: white;
    }

    .about-text-div {
        height: 70vh;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
    }

    .about-text-div::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
    }

    .about-text-image {
        width: 56%;
    }

    div > img {
        max-width: 100%;
    }

    p.about-text-description {
        font-family: "Dekko", cursive;
        font-size: 17px;
    }
}

@media (min-width: $sm-min-width) and (max-width: $sm-max-width) {
    .about-container {
        position: absolute;
        top: 1%;
        left: 1%;
        right: 1%;
    }

    .about-text-container {
        display: flex;
        flex-direction: column;
        padding: 25px;
        color: white;
    }

    .about-text-div {
        height: 73vh;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
    }

    .about-text-div::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
    }

    .about-text-image {
        width: 56%;
    }

    div > img {
        max-width: 100%;
    }

    p.about-text-description {
        font-family: "Dekko", cursive;
        font-size: 20px;
    }
}

@media (min-width: $md-min-width) and (max-width: $md-max-width) {
    .about-container {
        position: absolute;
        top: 9%;
        left: 1%;
        right: 1%;
    }

    .about-text-container {
        display: flex;
        flex-direction: column;
        padding: 25px;
        color: white;
    }

    .about-text-div {
        height: 73vh;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
    }

    .about-text-div::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
    }

    .about-text-image {
        width: 40%;
    }

    div > img {
        max-width: 100%;
    }

    p.about-text-description {
        font-family: "Dekko", cursive;
        font-size: 22px;
    }
}

@media (min-width: $lg-min-width) and (max-width: $lg-max-width) {
    .about-container {
        position: absolute;
        top: 9%;
        left: 1%;
        right: 1%;
    }

    .about-text-container {
        display: flex;
        flex-direction: column;
        padding: 25px;
        color: white;
    }

    .about-text-div {
        height: 72vh;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
    }

    .about-text-div::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
    }

    .about-text-image {
        width: 25%;
        position: relative;
        left: 38%;
    }

    div > img {
        max-width: 100%;
    }

    p.about-text-description {
        font-family: "Dekko", cursive;
        font-size: 25px;
    }
}

@media (min-width: $xl-min-width) and (max-width: $xl-max-width) {
    .about-container {
        position: absolute;
        top: 9%;
        left: 1%;
        right: 1%;
    }

    .about-text-container {
        display: flex;
        flex-direction: column;
        padding: 25px;
        color: white;
    }

    .about-text-div {
        height: 71vh;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
    }

    .about-text-div::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
    }

    .about-text-image {
        width: 25%;
        position: relative;
        left: 38%;
    }

    div > img {
        max-width: 100%;
    }

    p.about-text-description {
        font-family: "Dekko", cursive;
        font-size: 25px;
    }
}

@media (min-width: $xxl-min-width) {
    .about-container {
        position: absolute;
        top: 9%;
        left: 1%;
        right: 1%;
    }

    .about-text-container {
        display: flex;
        flex-direction: column;
        padding: 25px;
        color: white;
    }

    .about-text-div {
        height: 72vh;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
    }

    .about-text-div::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
    }

    .about-text-image {
        width: 25%;
        position: relative;
        left: 38%;
    }

    div > img {
        max-width: 100%;
    }

    p.about-text-description {
        font-family: "Dekko", cursive;
        font-size: 25px;
    }
}
