@import "./util/variables";

$background-url: url("../src/components/home/image_2.jpeg");

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
}

@media (min-width: $xs-min-width) and (max-width: $xs-max-width) {
    .app-container {
        background: $background-url;
        background-position: center center;
        background-attachment: fixed;
        height: calc(100vh - 56px);
        width: 100vw;
        background-size: cover;
    }
}

@media (min-width: $sm-min-width) and (max-width: $sm-max-width) {
    .app-container {
        background: $background-url;
        background-position: center center;
        background-attachment: fixed;
        height: calc(100vh - 48px);
        width: 100vw;
        background-size: cover;
        position: relative;
    }
}

@media (min-width: $md-min-width) and (max-width: $md-max-width) {
    .app-container {
        background: $background-url;
        background-position: center center;
        background-attachment: fixed;
        height: calc(100vh - 56px);
        width: 100vw;
        background-size: cover;
    }
}

@media (min-width: $lg-min-width) and (max-width: $lg-max-width) {
    .app-container {
        background: $background-url;
        background-position: center center;
        background-attachment: fixed;
        height: calc(100vh - 64px);
        width: 100vw;
        background-size: cover;
    }
}

@media (min-width: $xl-min-width) and (max-width: $xl-max-width) {
    .app-container {
        background: $background-url;
        background-position: center center;
        background-attachment: fixed;
        height: calc(100vh - 64px);
        width: 100vw;
        background-size: cover;
    }
}

@media (min-width: $xxl-min-width) {
    .app-container {
        background: $background-url;
        background-position: center center;
        background-attachment: fixed;
        height: calc(100vh - 64px);
        width: 100vw;
        background-size: cover;
    }
}
